<!DOCTYPE html>
<html>
<head>
  <title>[% title || 'Catares' %]</title>
  <style>
    @import url("[% c.uri_for('/static/css/default.css') %]");
    @import url("[% c.uri_for('/static/css/menu.css') %]");
    [%- FOREACH sheet IN styles %]
    @import url("[% c.uri_for(sheet) %]");
    [%- END -%]
    [% IF stylesheet %]
      @import url("[% c.uri_for(stylesheet) %]");
    [% END %]
  </style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script> 
  <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.json-2.2.min.js') %]"></script>
  <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.validate.js') %]"></script>
  <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.printElement.js') %]"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

</head>
<body id="public">
